.dub
docs.json
__dummy.html
docs/
/skia
skia.so
skia.dylib
skia.dll
skia.a
skia.lib
skia-test-*
*.exe
*.o
*.obj
*.lst
libskiad.a
lib/mac/*
lib/osx/*

dub.*.json
*.dll
*.lib
*.so
/samples/*/*.png
samples/simple/simple-demo
debug.log
bak/
